<% layout('layouts/boilerplate') %>
<form action="/campgrounds" method="POST">
    <div>
        <label for="title">Title</label>
        <input id="title" name="campground[title]" type="text">
    </div>
    <div>
        <label for="location">Location</label>
        <input id="location" name="campground[location]" type="text">
    </div>
    <button>Add Campground</button>
</form>
<button>
    <a href="/campgrounds">All Campgrounds</a>
</button>